In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

In [2]:
train = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/Train.csv')
HC_1 = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/First_Health_Camp_Attended.csv')
HC_2 = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/Second_Health_Camp_Attended.csv')
HC_3 = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/Third_Health_Camp_Attended.csv')
HC_details = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/Health_Camp_Detail.csv')
pat_pro = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/Patient_Profile.csv')

In [3]:
train.head(3)

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0

In [11]:
HC_1.head(3)

   Patient_ID  Health_Camp_ID  Donation  Health_Score
0      506181            6560        40      0.439024
1      494977            6560        20      0.097561
2      518680            6560        10      0.048780

In [9]:
HC_1.drop(['Unnamed: 4'], axis = 1, inplace = True)

In [5]:
HC_2.head(3)

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181

In [6]:
HC_3.head(3)

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1
2,504692,6527,3,1

In [12]:
HC_1.isnull().sum()

Patient_ID        0
Health_Camp_ID    0
Donation          0
Health_Score      0
dtype: int64

In [13]:
HC_1.Health_Camp_ID.unique()

array([6560, 6530, 6544, 6585, 6561, 6581, 6564, 6557, 6538, 6546, 6535,
       6553, 6565, 6552, 6539, 6558, 6563, 6569, 6586, 6540, 6562, 6531,
       6580, 6526, 6542, 6532, 6524, 6554, 6570, 6587, 6543, 6537, 6571,
       6575])

In [33]:
p_ids = list(HC_1.loc[HC_1['Health_Camp_ID'] == 6560]['Patient_ID'])

In [30]:
p_id = train.loc[train['Health_Camp_ID'] == 6560]['Patient_ID'][328]

In [34]:
p_id in p_ids

False

In [35]:
HC_1.loc[HC_1['Patient_ID'] == p_id]

Empty DataFrame
Columns: [Patient_ID, Health_Camp_ID, Donation, Health_Score]
Index: []

### 41 out of 123 had healthcare score for camp id 6560

In [17]:
HC_2.Health_Camp_ID.unique()

array([6536, 6523, 6549, 6555, 6534, 6529])

In [18]:
len(HC_2.loc[HC_2['Health_Camp_ID'] == 6536])

918

In [19]:
len(train.loc[train['Health_Camp_ID'] == 6536])

2037

In [20]:
HC_3.Health_Camp_ID.unique()

array([6527, 6578, 6528, 6541])

In [21]:
len(HC_3.loc[HC_3['Health_Camp_ID'] == 6527])

2495

In [60]:
HC_id_6527 = HC_3.loc[HC_3['Health_Camp_ID'] == 6527]

In [61]:
HC_id_6527.loc[HC_id_6527['Number_of_stall_visited'] == 0]

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
364,486530,6527,0,0
439,492766,6527,0,0
464,510061,6527,0,0
755,514624,6527,0,0
777,506873,6527,0,0
922,489505,6527,0,0
997,503497,6527,0,0
1373,514108,6527,0,0
1381,515663,6527,0,0
1452,516582,6527,0,0
1486,523002,6527,0,0
1536,525290,6527,0,0
1671,489805,6527,0,0
1700,525269,6527,0,0
1838,525007,6527,0,0
1846,507508,6527,0,0
1849,497040,6527,0,0
1851,496394,6527,0,0

In [22]:
len(train.loc[train['Health_Camp_ID'] == 6527])

4144

In [23]:
HC_details.loc[HC_details['Health_Camp_ID'] == 6560]

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2

In [24]:
HC_details.isnull().sum()

Health_Camp_ID     0
Camp_Start_Date    0
Camp_End_Date      0
Category1          0
Category2          0
Category3          0
dtype: int64

In [26]:
pat_pro.isnull().sum()/len(pat_pro)

Patient_ID           0.000000
Online_Follower      0.000000
LinkedIn_Shared      0.000000
Twitter_Shared       0.000000
Facebook_Shared      0.000000
Income               0.000000
Education_Score      0.000000
Age                  0.000000
First_Interaction    0.000000
City_Type            0.621370
Employer_Category    0.924534
dtype: float64

In [98]:
HCs = pd.concat([HC_1, HC_2, HC_3]).reset_index(drop = True)

In [99]:
HCs.drop(['Donation', 'Health_Score', 'Health Score', 'Last_Stall_Visited_Number', 'Number_of_stall_visited'], axis = 1, inplace = True)

In [100]:
HCs.head(3)

   Patient_ID  Health_Camp_ID
0      506181            6560
1      494977            6560
2      518680            6560

In [66]:
HCs['Number_of_stall_visited'] = HCs['Number_of_stall_visited'].fillna(-1)

In [101]:
hc3 = list(HC_3.Health_Camp_ID.unique())

In [102]:
HC_3.loc[HC_3['Health_Camp_ID'] == hc3[0]]

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
2,504692,6527,3,1
3,493167,6527,4,4
5,501825,6527,2,4
6,495620,6527,1,1
...,...,...,...,...
6507,526373,6527,5,1
6509,494149,6527,3,2
6510,503791,6527,3,3
6513,517319,6527,4,4
6514,511234,6527,5,4

In [118]:
favourable_outcome = []

for i in range(len(train)):
    if i%1000 == 0:
        print(i//1000)
    p_id = train['Patient_ID'][i]
    h_id = train['Health_Camp_ID'][i]
#     print(h_id)
    p_ids = list(HCs.loc[HCs['Health_Camp_ID'] == h_id]['Patient_ID'])
    if p_id in p_ids:
        if h_id in hc3:
            x = HC_3.loc[HC_3['Health_Camp_ID'] == h_id]
            y = x.loc[x['Patient_ID'] == p_id]['Number_of_stall_visited']
#             print(y)
            if y.values[0] == 0:
                favourable_outcome.append(0)
            else:
                favourable_outcome.append(1)

            del(x)
            del(y)
        else:
            favourable_outcome.append(1)
    else:
        favourable_outcome.append(0)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75

In [119]:
train['Outcome'] = favourable_outcome

In [120]:
train.head(3)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
0,489652,6578,10-Sep-05,4,0,0,0,2,1
1,507246,6578,18-Aug-05,45,5,0,0,7,0
2,523729,6534,29-Apr-06,0,0,0,0,0,1

In [129]:
HC_details.loc[HC_details['Health_Camp_ID'] == 6535]

,Health_Camp_ID,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3
10,6535,01-Feb-04,18-Feb-04,First,E,2

In [125]:
hc3

[6527, 6578, 6528, 6541]

In [126]:
hc_3_6578 = HC_3.loc[HC_3['Health_Camp_ID'] == 6527]

In [127]:
hc_3_6578.loc[hc_3_6578['Number_of_stall_visited'] == 0]

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
364,486530,6527,0,0
439,492766,6527,0,0
464,510061,6527,0,0
755,514624,6527,0,0
777,506873,6527,0,0
922,489505,6527,0,0
997,503497,6527,0,0
1373,514108,6527,0,0
1381,515663,6527,0,0
1452,516582,6527,0,0
1486,523002,6527,0,0
1536,525290,6527,0,0
1671,489805,6527,0,0
1700,525269,6527,0,0
1838,525007,6527,0,0
1846,507508,6527,0,0
1849,497040,6527,0,0
1851,496394,6527,0,0

In [128]:
train.loc[train['Patient_ID'] == 486530]

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
1411,486530,6527,08-May-05,12,0,0,0,4,0
7717,486530,6542,09-Mar-05,12,0,0,0,4,0
8424,486530,6540,25-Oct-04,12,0,0,0,4,0
9708,486530,6585,01-Nov-03,12,0,0,0,4,0
23583,486530,6538,13-Jan-04,12,0,0,0,4,0
29303,486530,6586,04-Sep-04,12,0,0,0,4,0
32218,486530,6581,08-Dec-03,12,0,0,0,4,0
40904,486530,6535,21-Dec-03,12,0,0,0,4,1

In [52]:
p_id = train['Patient_ID'][0]

In [91]:
x = HC_3.loc[HC_3['Health_Camp_ID'] == 6578]

In [92]:
y = x.loc[x['Patient_ID'] == p_id]['Number_of_stall_visited']

In [93]:
max(x.Patient_ID.value_counts())

1

In [114]:
y.values[0]

2

In [117]:
if y.values[0] != 0:
    print(False)

False

In [54]:
train.isnull().sum()

Patient_ID             0
Health_Camp_ID         0
Registration_Date    334
Var1                   0
Var2                   0
Var3                   0
Var4                   0
Var5                   0
Outcome                0
dtype: int64

In [55]:
HC_3.head(3)

,Patient_ID,Health_Camp_ID,Number_of_stall_visited,Last_Stall_Visited_Number
0,517875,6527,3,1
1,504692,6578,1,1
2,504692,6527,3,1

In [59]:
HC_3.Number_of_stall_visited.describe()

count    6515.000000
mean        2.923254
std         1.688500
min         0.000000
25%         1.000000
50%         3.000000
75%         4.000000
max         7.000000
Name: Number_of_stall_visited, dtype: float64

In [130]:
train.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
0,489652,6578,10-Sep-05,4,0,0,0,2,1
1,507246,6578,18-Aug-05,45,5,0,0,7,0
2,523729,6534,29-Apr-06,0,0,0,0,0,1
3,524931,6535,07-Feb-04,0,0,0,0,0,0
4,521364,6529,28-Feb-06,15,1,0,0,7,1

In [131]:
train.isnull().sum()/len(train)

Patient_ID           0.000000
Health_Camp_ID       0.000000
Registration_Date    0.004437
Var1                 0.000000
Var2                 0.000000
Var3                 0.000000
Var4                 0.000000
Var5                 0.000000
Outcome              0.000000
dtype: float64

In [132]:
test = pd.read_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/test.csv')

In [133]:
test.head(3)

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      505701            6548         21-May-06     1     0     0     0     2
1      500633            6584         02-Jun-06     0     0     0     0     0
2      506945            6582         10-Aug-06     0     0     0     0     0

In [136]:
data = pd.concat([train, test], axis = 0).reset_index()

In [137]:
data.head()

,index,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
0,0,489652,6578,10-Sep-05,4,0,0,0,2,1.0
1,1,507246,6578,18-Aug-05,45,5,0,0,7,0.0
2,2,523729,6534,29-Apr-06,0,0,0,0,0,1.0
3,3,524931,6535,07-Feb-04,0,0,0,0,0,0.0
4,4,521364,6529,28-Feb-06,15,1,0,0,7,1.0

In [138]:
data.tail()

,index,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
110522,35244,507261,6525,13-Apr-06,12,2,0,0,6,NaN
110523,35245,513607,6551,03-Nov-06,0,0,0,0,0,NaN
110524,35246,498160,6584,17-Jun-06,0,0,0,0,0,NaN
110525,35247,502444,6567,13-Jan-07,0,0,0,0,0,NaN
110526,35248,523811,6584,16-Jun-06,4,3,0,2,4,NaN

In [139]:
data.drop(['index'], axis = 1, inplace = True)

In [140]:
data.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
0,489652,6578,10-Sep-05,4,0,0,0,2,1.0
1,507246,6578,18-Aug-05,45,5,0,0,7,0.0
2,523729,6534,29-Apr-06,0,0,0,0,0,1.0
3,524931,6535,07-Feb-04,0,0,0,0,0,0.0
4,521364,6529,28-Feb-06,15,1,0,0,7,1.0

In [142]:
data = data.reset_index()

In [143]:
train.to_csv('/run/media/devesh/Hard Disk/Projects/Healthcare Analytics/input/train_new.csv', index = False)

In [144]:
train.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Outcome
0,489652,6578,10-Sep-05,4,0,0,0,2,1
1,507246,6578,18-Aug-05,45,5,0,0,7,0
2,523729,6534,29-Apr-06,0,0,0,0,0,1
3,524931,6535,07-Feb-04,0,0,0,0,0,0
4,521364,6529,28-Feb-06,15,1,0,0,7,1